<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>

<body>
<nav th:replace="fragments/fragment :: navbar('Laporan', '')"></nav>

<div class="container mt-lg-5">
    <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
    <div class="card m-4 p-4 rounded-25">
        <div class="card-body">
            <div class="justify-content-center">

                <form th:action="@{/transaksi/viewall/} + ${jenis}" id="searchForm">

                    <!--title-->
                    <div class="row">
                        <h2 class="h2">Daftar Transaksi Keuangan<span class="btn btn-primary-green bi-download mx-4"></span></h2>
                    </div>

                    <!--section bar-->
                    <div th:if="${#strings.equals(jenis, 'semua')}">
                        <nav th:replace="fragments/fragment-transaksi :: navbar('Semua')"></nav>
                    </div>
                    <div th:if="${#strings.equals(jenis, 'pendapatan')}" >
                        <nav th:replace="fragments/fragment-transaksi :: navbar('Pendapatan')"></nav>
                    </div>
                    <div th:if="${#strings.equals(jenis, 'pengeluaran')}">
                        <nav th:replace="fragments/fragment-transaksi :: navbar('Pengeluaran')"></nav>
                    </div>


                    <!--total, tambah transaksi-->
                    <div class="row mt-3">
                        <div class="col text-start">
                            <h6 class="h6">Total</h6>
                            <h3 class="h4" th:text="${total == 0} ? 'Rp 0,00' : 'Rp ' + ${#numbers.formatDecimal(total, 0, 'POINT', 2, 'COMMA')}"></h3>
                        </div>

                        <div class="col text-end">
                            <a type = "button" class = "btn-small btn-outline-primary-green h6 mt-4" th:href="@{/transaksi/add}">
                                <span class="bi-plus"></span> Tambah Transaksi Baru
                            </a>
                        </div>
                    </div>
                    <br>

                    <!--list transaksi-->
                    <div class="row" id="semuaTransaksi">
                        <br>
                        <table class="table table-striped text-center align-middle">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>ID Transaksi</th>
                                <th>Tanggal, Waktu</th>
                                <th>Nominal Transaksi</th>
                                <th th:if="${#strings.equals(jenis, 'semua')}">Jenis Transaksi</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="transaksi, iterationStatus : ${listTransaksi}">
                                <td th:text="${firstItem} + ${iterationStatus.count} - 1"></td>
                                <td class="text-center" th:text="${transaksi.idTransaksi}"></td>
                                <td th:text="${#temporals.format(transaksi.tanggalTransaksi, 'dd-MM-yyyy HH:mm')}"></td>
                                <td th:text="'Rp ' + ${#numbers.formatDecimal(transaksi.nominal, 0, 'POINT', 2, 'COMMA')}"></td>
                                <td th:if="${#strings.equals(jenis, 'semua')}" th:text="${transaksi.jenisTransaksi} ? 'Pengeluaran':'Pendapatan'"></td>
                                <td>
                                    <a type="button" class="mx-2 btn-small btn-primary-green" th:href="@{/transaksi/view/} + ${transaksi.idTransaksi}">Detail</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>

                <!-- pagination & page size -->
                <div class="row mt-4 p3">
                    <div class="col text-start">
                        <label class="d-inline-block p3" for="pageSize">Show: </label>
                        <select form="searchForm" name="size" th:value="${pageSize}" onchange="changePageSize()" class="form-select form-select-sm d-inline-block" style="width:auto;"
                                id="pageSize">
                            <option th:each="s : ${ {5, 10, 15, 20} }" th:value="${s}" th:text="${s}" th:selected="${s == pageSize}"></option>
                        </select>
                        <p class="d-inline-block p3" th:text="'Result: ' + ${firstItem} + '-' + ${lastItem} + ' of ' + ${totalItems}"></p>
                    </div>
                    <div class="col text-end">
                        <nav class="d-inline-block" aria-label="Pagination" th:if="${totalPages > 0}">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                    <a class="fw-bold" th:replace="fragments/fragment-transaksi :: paging(${jenis},${currentPage - 1}, 'Previous', 'Previous Page')"></a>
                                </li>
                                <li class="page-item" th:classappend="${1 == currentPage} ? 'active'">
                                    <a th:replace="fragments/fragment-transaksi :: paging(${jenis},1, '1', 'First Page')"></a>
                                </li>
                                <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                                <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                                    th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 1 : 1, currentPage + 2 < totalPages ? currentPage + 1 : totalPages)}">
                                    <a th:replace="${page != 1 && page != totalPages} ? ~{fragments/fragment-transaksi :: paging(${jenis}, ${page}, ${page}, 'Page ' + ${page})} : _"></a>
                                </li>
                                <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                                <li class="page-item" th:classappend="${totalPages == currentPage} ? 'active'">
                                    <a th:replace="${totalPages != 1} ? ~{fragments/fragment-transaksi :: paging(${jenis}, ${totalPages}, ${totalPages}, 'Last Page')} : _"></a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                    <a class="fw-bold" th:replace="fragments/fragment-transaksi :: paging(${jenis}, ${currentPage + 1},'Next', 'Next Page')"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- end pagination & page size -->


            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/fragment :: footer"></footer>

<script src = "/bootstrap/js/bootstrap.js"></script>
<script src="/script.js"></script>

<!-- Table and Pagination Bar -->
<script type="text/javascript">
    function changePageSize() {
        document.getElementById('searchForm').submit()
    }
</script>

</body>
</html>