<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragment :: head"></head>

<body>
<nav sec:authorize="hasAuthority('ADMIN') || hasAuthority('MANAJER')" th:replace="fragments/fragment :: navbar('Manajemen User', '')"></nav>

<div class="d-flex justify-content-center">
    <div class = "container my-5">

        <!-- alert -->
        <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
        <div class="alert alert-danger" role="alert" th:text="${failed}" th:if="${failed}"></div>

        <!-- back button -->
        <div class = "row my-3">
            <p class="c3">
                <a type="button" class = "btn-small btn-outline-raisin-black h6 me-4" th:href="@{/about-us/view}">
                    <i class="bi-chevron-left"></i>
                    Back
                </a>
            </p>
        </div>

        <!-- title -->
        <div class = "row mt-3 mb-4">
            <h2 class = "h2">Edit Company Profile</h2>
        </div>

        <!-- form -->
        <form th:action="@{/about-us/update}" th:object="${companyProfile}" method="POST">
            <div class="container my-2">
                <div class = "card rounded-25">
                    <div class="card-body">
                        <div class="row">
                            <div class="row gy-4 my-2">
                                <div class="form-group">
                                    <label class="h5 text-raisin-black">Nama Perusahaan<span class="text-danger"> *</span></label>
                                    <input required type="text" autocomplete="off" class="form-control p2" th:field="*{namaPerusahaan}">
                                    <div class="invalid-feedback">
                                        Masukkan nama perusahaan
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="h5 text-raisin-black">Deskripsi Perusahaan<span class="text-danger"> *</span></label>
                                    <textarea required type="text" autocomplete="off" class="form-control p2" th:field="*{deskripsiPerusahaan}"></textarea>
                                    <div class="invalid-feedback">
                                        Masukkan deskripsi perusahaan
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="h5 text-raisin-black">Visi Perusahaan<span class="text-danger"> *</span></label>
                                    <textarea required type="text" autocomplete="off" class="form-control p2" th:field="*{visiPerusahaan}"></textarea>
                                    <div class="invalid-feedback">
                                        Masukkan visi perusahaan
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="h5 text-raisin-black">Misi Perusahaan<span class="text-danger"> *</span></label>
                                    <textarea required type="text" autocomplete="off" class="form-control p2" th:field="*{misiPerusahaan}"></textarea>
                                    <div class="invalid-feedback">
                                        Masukkan misi perusahaan
                                    </div>
                                </div>

                                <fieldset>
                                    <legend>Kontak Perusahaan:</legend>
                                    <div class="form-outline mb-4">
                                        <label class="form-label h5 text-raisin-black" for="nm">E-mail:<span class="text-danger"> *</span></label>
                                        <input type="email" id="nm" class="form-control form-control-lg" name="email" th:field="*{emailPerusahaan}" required/>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label h5 text-raisin-black" for="nm1">No. HP:<span class="text-danger"> *</span></label>
                                        <input type="number" id="nm1" class="form-control form-control-lg" name="hp" th:field="*{hpPerusahaan}" required/>
                                    </div>
                                </fieldset>

                                <div class="form-group">
                                    <label class="h5 text-raisin-black">Alamat Perusahaan<span class="text-danger"> *</span></label>
                                    <input required type="text" autocomplete="off" class="form-control p2" th:field="*{alamatPerusahaan}">
                                    <div class="invalid-feedback">
                                        Masukkan alamat perusahaan
                                    </div>
                                </div>
                            </div>

                            <div class="row gy-4 my-2">
                                <div class="form-group">
                                    <label class="h5">Testimoni</label>
                                    <table class="table" style="width:100%;">
                                        <thead></thead>
                                        <tbody>
                                        <tr th:each="testimoni, iterationStatus: *{listTestimoni}">
                                            <td class="w-25">
                                                <input type="hidden" th:field="*{listTestimoni[__${iterationStatus.index}__].idTestimoni}"/>
                                                <select class="form-select"
                                                        name="role" th:field="*{listTestimoni[__${iterationStatus.index}__].role}">
                                                    <option value="DONATUR">Donatur</option>
                                                    <option value="PARTNER">Partner</option>
                                                        <option value="CUSTOMER">Customer</option>
                                                </select>
                                                <input type="text" id="namaPembuatTestimoni" class="form-control form-control-lg" name="namaPembuatTestimoni" th:field="*{listTestimoni[__${iterationStatus.index}__].namaPembuatTestimoni}"/>
                                            </td>
                                            <td class="w-75">
                                                <textarea type="text" id="isiTestimoni" class="form-control form-control-lg" name="review" th:field="*{listTestimoni[__${iterationStatus.index}__].review}"/>
                                            </td>
                                            <td class="col-1">
                                                <button th:if="${companyProfile.listTestimoni.size > 1}" th:value="${iterationStatus.index}" class="btn-delete btn-danger" type="submit" name="deleteRow">
                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <button th:if="${companyProfile.listTestimoni.size < 5}" class="btn-small btn-add-row w-100" type="submit" name="addRow">Tambah Testimoni
                                            <i class="bi bi-plus text-end"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- submit button -->
                        <div class="row d-flex justify-content-end text-end">
                            <div class="col-sm-1 w-auto justify-content-end px-0">
                                <!-- Modal -->
                                <div class="modal fade" id="cancel" tabindex="-1" aria-labelledby="discard-changes" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered text-center justify-content-center">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title h6" id="discard-changes">Discard Changes</h6>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body p3">
                                                Apakah Anda yakin ingin membatalkan perubahan ini?
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <button type="button" class="btn-small btn-outline-raisin-black" data-bs-dismiss="modal">Keep editing</button>
                                                <a type="button" th:href="@{/about-us/view}" class="btn-small btn-red-danger">Discard changes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end modal -->

                            </div>
                            <div class="col-sm-1 w-auto justify-content-end pl-0">

                                <!-- Button trigger modal save changes -->
                                <a type="button" class="mx-2 btn-small btn-primary-green" data-bs-toggle="modal" data-bs-target="#save">
                                    Save Changes
                                </a>

                                <!-- Modal save changes-->
                                <div class="modal fade" id="save" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered text-center justify-content-center">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title h6" id="exampleModalLabel">Edit Company Profile</h6>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body p3">
                                                Apakah Anda yakin ingin menyimpan perubahan ini?
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <button type="button" class="btn-small btn-outline-raisin-black" data-bs-dismiss="modal">Cancel</button>
                                                <button type="submit" name="save" id="submitbutton" class="btn-small btn-primary-green">Ya, simpan</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end modal save changes-->

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<footer th:replace="fragments/fragment :: footer"></footer>

<script src = "/bootstrap/js/bootstrap.js"></script>
<script src="/script.js"></script>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {

                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                        $("#save").modal("hide")
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

</body>
</html>