<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragment :: head"></head>

<body>
<nav th:replace="fragments/fragment :: navbar('About Us', '')"></nav>

<section id="sec-tentang-kami" class = "p-5 text-white container-primary-green">
    <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
    <div class="row mt-3">
        <div class="col text-start">
            <h1 class="h1">Tentang Kami</h1>
        </div>

        <div class="col text-end">
            <a sec:authorize="hasAuthority('ADMIN') || hasAuthority('MANAJER')" type = "button" class = "btn btn-about-us h5 text-white mt-4" th:href="@{/about-us/update}">
                <span class="bi-pencil"></span> Edit Company Profile
            </a>
        </div>
    </div>
    <div class = "row">
        <div class = "col-lg-6 p-5">
            <img src = "/images/section-2-bg.jpg" class = "img-fluid rounded-3">
        </div>
        <div class = "col-lg-6 p-5 text-white text-center text-lg-start">
            <h2 th:text="${companyProfile.namaPerusahaan}"></h2>
            <text th:text="${companyProfile.deskripsiPerusahaan}" class = "p2 my-5 lead"></text>
        </div>
    </div>
</section>

<section id="sec-visi-misi" class = "p-5">
    <div class = "row mb-5">
        <div class = "col text-center">
            <h1 class = "mb-4 h1">Visi & Misi Perusahaan</h1>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Visi</h2>
                            <text th:text="${companyProfile.visiPerusahaan}" class = "pt-2 w-75 mx-auto p2 text-start"></text>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Misi</h2>
                            <text th:text="${companyProfile.misiPerusahaan}" class = "pt-2 w-75 mx-auto p2 text-start"></text>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id = "sec-what-we-offer" class = "py-5 container-primary-green">
    <div class = "container my-4">
        <div class = "row mb-5">
            <div class = "col text-center text-white">
                <h1 class = "mb-4 h1">Apa yang kami tawarkan?</h1>
                <text class = "pt-2 w-75 mx-auto p2">lorem ipsum</text>
            </div>
        </div>

        <div class = "row gx-md-5">
            <div class = "col-md-4 my-3">
                <div class = "card rounded-25 text-center">
                    <img class = "card-img-top rounded-top-25" src = "/images/img-donasi.jpg">
                    <div class = "card-body py-5">
                        <h3 class = "card-title h3">Donasi Sampah</h3>
                        <p class = "card-text py-3 p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero reprehenderit, enim iure debitis doloremque nulla perspiciatis natus impedit obcaecati molestias sunt voluptate sed ipsa?</p>
                    </div>
                </div>
            </div>

            <div class = "col-md-4 my-3">
                <div class = "card rounded-25 text-center">
                    <img class = "card-img-top rounded-top-25" src = "/images/img-handshake.jpg">
                    <div class = "card-body py-5">
                        <h3 class = "card-title h3">Penjualan Sampah</h3>
                        <p class = "card-text py-3 p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero reprehenderit, enim iure debitis doloremque nulla perspiciatis natus impedit obcaecati molestias sunt voluptate sed ipsa?</p>
                    </div>
                </div>
            </div>

            <div class = "col-md-4 my-3">
                <div class = "card rounded-25 text-center">
                    <img class = "card-img-top rounded-top-25" src = "/images/img-penjualan-hasil-olahan.jpg">
                    <div class = "card-body py-5">
                        <h3 class = "card-title h3">Pembelian Hasil Olahan Sampah</h3>
                        <p class = "card-text py-3 p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero reprehenderit, enim iure debitis doloremque nulla perspiciatis natus impedit obcaecati molestias sunt voluptate sed ipsa?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id = "sec-testimoni" class = "py-5">
    <div class = "container my-5">

        <div class = "row">
            <div class = "col-12 text-center">
                <h3 class = "mb-5 h1">Testimoni</h3>
            </div>
        </div>

        <div class = "row">
            <div id = "carouselInd" class = "carousel slide" data-bs-ride = "carousel">

                <div class = "carousel-indicators">
                    <button type = "button" data-bs-target = "#carouselInd" data-bs-slide-to = "0" class = "active bg-primary" th:if="*{listTestimoni.size() >= 1}"></button>
                    <button type = "button" data-bs-target = "#carouselInd" data-bs-slide-to = "1" class = "bg-primary" th:if="*{listTestimoni.size() >= 2}"></button>
                    <button type = "button" data-bs-target = "#carouselInd" data-bs-slide-to = "2" class = "bg-primary" th:if="*{listTestimoni.size() >= 3}"></button>
                    <button type = "button" data-bs-target = "#carouselInd" data-bs-slide-to = "3" class = "bg-primary" th:if="*{listTestimoni.size() >= 4}"></button>
                    <button type = "button" data-bs-target = "#carouselInd" data-bs-slide-to = "4" class = "bg-primary" th:if="*{listTestimoni.size() >= 5}"></button>
                </div>

                <div class = "carousel-inner">
                    <div class = "carousel-item active" id="item1" th:if="*{listTestimoni.size() >= 1}">
                        <div class = "col-12 row mx-auto">
                            <div class = "row text-center text-lg-start">
                                <h4 class = "h4" id="testimoni1" th:text="*{listTestimoni[0].review}"></h4>
                                <h5 class = "h5 text-lg-end" id="nama1" th:text="*{listTestimoni[0].namaPembuatTestimoni}"></h5>
                                <p class = "p2 text-lg-end" id="role1" th:text="*{listTestimoni[0].role}"></p>
                            </div>
                        </div>
                    </div>

                    <div class = "carousel-item" id="item2" th:if="*{listTestimoni.size() >= 2}">
                        <div class = "col-12 row mx-auto">
                            <div class = "row text-center text-lg-start">
                                <h4 class = "h4" id="testimoni2" th:text="*{listTestimoni[1].review}"></h4>
                                <h5 class = "h5 text-lg-end" id="nama2" th:text="*{listTestimoni[1].namaPembuatTestimoni}"></h5>
                                <p class = "p2 text-lg-end" id="role2" th:text="*{listTestimoni[1].role}"></p>
                            </div>
                        </div>
                    </div>

                    <div class = "carousel-item" id="item3" th:if="*{listTestimoni.size() >= 3}">
                        <div class = "col-12 row mx-auto">
                            <div class = "row text-center text-lg-start">
                                <h4 class = "h4" id="testimoni3" th:text="*{listTestimoni[2].review}"></h4>
                                <h5 class = "h5 text-lg-end" id="nama3" th:text="*{listTestimoni[2].namaPembuatTestimoni}"></h5>
                                <p class = "p2 text-lg-end" id="role3" th:text="*{listTestimoni[2].role}"></p>
                            </div>
                        </div>
                    </div>

                    <div class = "carousel-item" id="item4" th:if="*{listTestimoni.size() >= 4}">
                        <div class = "col-12 row mx-auto">
                            <div class = "row text-center text-lg-start">
                                <h4 class = "h4" id="testimoni4" th:text="*{listTestimoni[3].review}"></h4>
                                <h5 class = "h5 text-lg-end" id="nama4" th:text="*{listTestimoni[3].namaPembuatTestimoni}"></h5>
                                <p class = "p2 text-lg-end" id="role4" th:text="*{listTestimoni[3].role}"></p>
                            </div>
                        </div>
                    </div>

                    <div class = "carousel-item" id="item5" th:if="*{listTestimoni.size() >= 5}">
                        <div class = "col-12 row mx-auto">
                            <div class = "row text-center text-lg-start">
                                <h4 class = "h4" id="testimoni5" th:text="*{listTestimoni[4].review}"></h4>
                                <h5 class = "h5 text-lg-end" id="nama5" th:text="*{listTestimoni[4].namaPembuatTestimoni}"></h5>
                                <p class = "p2 text-lg-end" id="role5" th:text="*{listTestimoni[4].role}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/fragment :: footer"></footer>

<script src = "/bootstrap/js/bootstrap.js"></script>
<script src="/script.js"></script>

</body>
</html>