:root{
    --slimy-green: #217D00;
    --primary-green: #5DAF40;
    --harlequin-green: #9DF87C;
    --yellow-sun: #FFF623;
    --yellow-sun-hover: #C9C100;
    --raisin-black: #252525;
    --grey-white: #B4B4B4;
    --danger: #FF1919;
    --danger-hover: #BB0000;
    --another-grey: #D8D8D8;
    --white: #fff;
}

*{
    font-family: 'Montserrat', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

.p1, .p2, .p3 {
    font-weight: 500;
}

.c1, .c2, .c3 {
    font-weight: 300;
    font-style: italic;
}

.h1{
    font-size: 48px;
}

.h2{
    font-size: 36px;
}

.h3{
    font-size: 28px;
}

.h4, .p1, .c1{
    font-size: 24px;
}

.h5, .p2, .c2{
    font-size: 18px;
}

.h5{
    font-size: 16px;
}

.p3,.c3{
    font-size: 14px;
}

/* detail fonts */
.p2 .title-detail{
    /*margin-block: 2em;*/
}

/* body */
body {
    padding-top: 60px;
}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

/* a href */
a {
    text-decoration: none;
}

/* navbar */
.navbar{
    background: var(--white) !important;
    font-weight: bold;
    padding: 1em;
}

@media (min-width: 992px){
    .navbar li {
        margin-left : 0.7em;
        margin-right : 0.7em;
    }
}

.nav-underline {
    border-bottom: 5px solid #FFF623;
    bottom: -10px;
    font-weight: bold;
}

/* button */
.btn{
    font-weight: bold;
    border: 2px solid;
    border-radius: 1.5rem;
    padding-block: 0.5rem;
    padding-inline: 3rem;
}
.btn-small{
    font-weight: bold;
    border: 1px solid;
    border-radius: 1.5rem;
    padding-block: 0.3rem;
    padding-inline: 1.2rem;
}
.btn-primary-green{
    background-color: var(--primary-green);
    border-color: var(--primary-green);
    color: var(--white);
}
.btn-primary-green:hover{
    color: var(--white);
    border-color: var(--slimy-green);
    background: var(--slimy-green);
}
.btn-outline-primary-green{
    background-color: var(--white);
    border-color: var(--primary-green);
    color: var(--primary-green);
}
.btn-outline-primary-green:hover{
    background-color: var(--primary-green);
    color: var(--white);
}
.btn-about-us:hover{
    background-color: var(--white);
    color: var(--primary-green)!important;
}
.btn-yellow-sun{
    background-color: var(--yellow-sun);
    color: var(--white);
}
.btn-outline-raisin-black{
    background-color: var(--white);
    border-color: var(--raisin-black);
    color: var(--raisin-black);
}
.btn-outline-raisin-black:hover{
    background-color: var(--another-grey);
    border-color: var(--raisin-black);
    color: var(--raisin-black);
}
.btn-danger{
    background-color: var(--danger);
    color: var(--white);
}
.btn-danger:hover{
    background-color: var(--danger-hover);
    color: var(--white);
}
.btn-disabled{
    background-color: var(--grey-white);
    border-color: var(--another-grey);
    color: var(--white);
}
/* container */
.container-primary-green{
    background-color: var(--primary-green);
    padding: 2em;
}

.username-welcome-text{
    color: var(--primary-green);
    font-style: italic;
}
.text-grey-white {
    color: var(--grey-white) !important;
}

.viewall-wr{
    padding-right: 6rem !important;
    padding-left: 6rem !important;
    padding-bottom: 3rem !important;
}

.card-wr{
    background: var(--slimy-green);
}

.btn-red-danger{
    background-color: var(--danger);
    color: var(--white);
}
.btn-red-danger:hover{
    color: var(--danger);
    background: var(--white);
    border-color: var(--danger);
}
.btn-red-danger:disabled, .btn-red-danger.disabled {
    color: #fff;
    background-color: #252525;
    border-color: #252525;
}

.btn-small {
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 1.5rem;
    padding-block: 0.5rem;
    padding-inline: 3rem;
    font-size: 0.75rem;
}

.modal-wr{
    border-radius: 25px;
}

.text-left{
    text-align: left !important;
}

.p-5-title{
    padding-top: 3rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-bottom: 1rem !important;
}

.nav-tabs>button.active,
.nav-tabs>button.active:hover,
.nav-tabs>button.active:focus {
    color: #217D00;
    cursor: default;
    background-color: #fff;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid  #217D00;
}

.nav-tabs>button {
    transition: none;
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs>button:hover {
    border: none;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 0px;
    /* font-size: initial; */
}


.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color:  #217D00;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .nav-link {
        transition: none;
    }
}
.nav-link:hover, .nav-link:focus {
    color:  #217D00;
}

.btn-outline-cancel {
    color: #252525;
    border-color: #252525;
}
.btn-outline-cancel:hover {
    color: #fff;
    background-color: #252525;
    border-color: #252525;
}
/* modal */
.modal-title{
    text-align: center;
}

/* radio button */
input[type="radio"]:checked{
    background-color: var(--yellow-sun);
    border-color: var(--yellow-sun);
}
.disabled input[type="radio"]:checked{
    background-color: var(--grey-white);
    border-color: var(--grey-white);
    /*color: var(--grey-white);*/
>>>>>>> caf56b3374dbed3586f187f2b082937cb79bbb5b
}
.viewall-wr{
    padding-right: 6rem !important;
    padding-left: 6rem !important;
    padding-bottom: 3rem !important;
}

.card-wr{
    background: var(--slimy-green);
}

.btn-red-danger{
    background-color: var(--danger);
    color: var(--white);
}
.btn-red-danger:hover{
    color: var(--danger);
    background: var(--white);
    border-color: var(--danger);
}
.btn-red-danger:disabled, .btn-red-danger.disabled {
    color: #fff;
    background-color: #252525;
    border-color: #252525;
}

.btn-small {
    font-weight: bold;
    /*border: 2px solid #fff;*/
    /*border-radius: 1.5rem;*/
    padding-block: 0.5rem;
    padding-inline: 3rem;
    font-size: 0.75rem;
}

.modal-wr{
    border-radius: 25px;
}

.text-left{
    text-align: left !important;
}

.p-5-title{
    padding-top: 3rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-bottom: 1rem !important;
}

.nav-tabs>button.active,
.nav-tabs>button.active:hover,
.nav-tabs>button.active:focus {
    color: #217D00;
    cursor: default;
    background-color: #fff;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid  #217D00;
}

.nav-tabs>button {
    transition: none;
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs>button:hover {
    border: none;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 0px;
    /* font-size: initial; */
}


.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color:  #217D00;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .nav-link {
        transition: none;
    }
}
.nav-link:hover, .nav-link:focus {
    color:  #217D00;
}

.btn-outline-cancel {
    color: #252525;
    border-color: #252525;
}
.btn-outline-cancel:hover {
    color: #fff;
    background-color: #252525;
    border-color: #252525;
}

.viewall-wr{
    padding-right: 6rem !important;
    padding-left: 6rem !important;
    padding-bottom: 3rem !important;
}

.card-wr{
    background: var(--slimy-green);
}

.btn-red-danger{
    background-color: var(--danger);
    color: var(--white);
}
.btn-red-danger:hover{
    color: var(--danger);
    background: var(--white);
    border-color: var(--danger);
}
.btn-red-danger:disabled, .btn-red-danger.disabled {
    color: #fff;
    background-color: #252525;
    border-color: #252525;
}

.btn-small {
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 1.5rem;
    padding-block: 0.5rem;
    padding-inline: 3rem;
    font-size: 0.75rem;
}

.modal-wr{
    border-radius: 25px;
}

.text-left{
    text-align: left !important;
}

.p-5-title{
    padding-top: 3rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-bottom: 1rem !important;
}

.nav-tabs>button.active,
.nav-tabs>button.active:hover,
.nav-tabs>button.active:focus {
    color: #217D00;
    cursor: default;
    background-color: #fff;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid  #217D00;
}

.nav-tabs>button {
    transition: none;
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs>button:hover {
    border: none;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 0px;
    /* font-size: initial; */
}


.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color:  #217D00;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .nav-link {
        transition: none;
    }
}
.nav-link:hover, .nav-link:focus {
    color:  #217D00;
}

.btn-outline-cancel {
    color: #252525;
    border-color: #252525;
}
.btn-outline-cancel:hover {
    color: #fff;
    background-color: #252525;
    border-color: #252525;
}

/*!* misc stylings *!*/
/*ul li{*/
/*    list-style-type: none;*/
/*}*/
/*.container{*/
/*    max-width: 1200px;*/
/*}*/
/*.display-1{*/
/*    letter-spacing: 1px;*/
/*}*/
/*.bg-green{*/
/*    background-color: var(--primary-green)!important;*/
/*}*/
/*.bg-grey{*/
/*    background-color: var(--light-grey);*/
/*}*/
/*.text-green{*/
/*    color: var(--primary-green);*/
/*}*/

/*.lh-lg{*/
/*    line-height: 1.7!important;*/
/*}*/
/*.circle-icon{*/
/*    width:55px;*/
/*    height: 55px;*/
/*    border-radius: 50%;*/
/*    background-color: var(--primary-green);*/
/*}*/

/*!* section 6 *!*/
/*#sec-6{*/
/*    background: linear-gradient(rgba(22, 219, 147, 0.9), rgba(22, 219, 147, 0.9)), url(images/section-6-bg.jpg) center/cover no-repeat;*/
/*}*/
/*#sec-6 .circle-icon{*/
/*    width: 95px;*/
/*    height: 95px;*/
/*}*/

/*!* section 7 *!*/
/*#sec-7 .card{*/
/*    border: none;*/
/*}*/

/*!* section 8 *!*/
/*#sec-8 .carousel-item img{*/
/*    width: 180px!important;*/
/*}*/

/*!* section 9 *!*/
/*.pricing-item{*/
/*    border-radius: 0.3rem;*/
/*    overflow: hidden;*/
/*    max-width: 340px;*/
/*}*/
/*.pricing-title{*/
/*    background-color: var(--green-dark);*/
/*}*/
/*.pricing-price, .pricing-item ul li{*/
/*    border-bottom: 1px solid rgba(255, 255, 255, 0.5);*/
/*    padding: 0.9rem 0;*/
/*}*/
/*.pricing-item .btn:hover{*/
/*    background: transparent!important;*/
/*    color: #fff;*/
/*}*/