<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:with="pageTitle='Water'">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/fragment :: navbar('Laporan')"></nav>

<div class="container mt-5">
    <a th:href="@{/pengolahan-sampah}" class="btn-small btn-outline-raisin-black h6 me-4"><i class="fas fa-chevron-left"></i> Back</a>
    <h1 class="mt-3">Detail Laporan Batch <span th:text="${batch.idBatch}"></span></h1>
    <div class="card rounded fs-4">
        <div class="card-body d-flex flex-row justify-content-around p-5">
            <dl>
                <dt class="fw-light">Batch ID:</dt>
                <dd class="fw-bold" th:text="${batch.idBatch}"></dd>

                <dt class="fw-light">Jenis Sampah:</dt>
                <dd class="fw-bold" th:text="${batch.warehouse.namaItem}"></dd>
                <dt class="fw-light">Status:</dt>
                <dd class="fw-bold">
                  <span th:if="${batch.status == 1}">Pencacahan</span>
                  <span th:if="${batch.status == 2}">Pengeringan</span>
                  <span th:if="${batch.status == 3}">Packing</span>
                  <span th:if="${batch.status == 4}">Selesai</span>
                  <!-- Button to trigger modal -->
                  <form style="display: inline-block" th:if="${batch.status < 4}" id="updateBatchForm" method="POST" th:action="@{/pengolahan-sampah/{batchModel}(batchModel=${batch.idBatch})}">
                    <input type="hidden" name="_method" value="PUT" />
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button th:attr="data-status=${batch.status}"  type="button" class="mx-2 btn-small btn-primary-green h6" th:onclick="confirmUpdate(this.dataset.status)">Update Batch</button>
                  </form>
                </dd>
              </dl>
              <dl>

                <dt class="fw-light">Tanggal Dibuat:</dt>
                <dd class="fw-bold" th:text="${#temporals.format(batch.tanggalDibuat, 'dd MMMM yyyy, HH.mm', 'ID')}"></dd>

                <dt class="fw-light">Jumlah Sampah (Kg):</dt>
                <dd class="fw-bold" th:text="${batch.kuantitasBahanBaku + batch.kuantitasHasil}"></dd>
              </dl>
        </div>
      </div>

</div>

<script>
function confirmUpdate(current) {
    const batches = [
        'pencacahan',
        'pengeringan',
        'packing',
        'selesai'
    ];

    if (window.confirm(`Anda hendak mengganti status batch pengolahan dari ${batches[current-1]} menjadi ${batches[current]}. Apakah Anda ingin melanjutkan?`)) {
      document.getElementById("updateBatchForm").submit();
    }
  }

</script>

<th:block th:include="fragments/scripts :: scripts"></th:block>
</body>
</html>
