<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head  th:fragment="head">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Water</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap css -->
    <link rel = "stylesheet" href = "/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>

<body>
<nav th:fragment="navbar(activeLink, poin)" class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top">

    <div class="container-fluid" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <!-- internal & eksternal -->
            <li>
                <a th:class="${#strings.equals(activeLink, 'Home')}  ? 'nav-link nav-underline active' : 'nav-link'" th:href="@{/}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="!hasAuthority('PEKERJA') || !hasAuthority('TEKNISI')">
                <a th:class="${#strings.equals(activeLink, 'Artikel')}  ? 'nav-link nav-underline active' : 'nav-link'" th:href="@{/artikel/viewall}">Artikel<span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="!hasAuthority('PEKERJA') || !hasAuthority('TEKNISI')">
                <a th:class="${#strings.equals(activeLink, 'About Us')}  ? 'nav-link nav-underline active' : 'nav-link'" th:href="@{/about-us/view}">About Us<span class="sr-only">(current)</span></a>
            </li>

            <!-- internal -->
            <li class="nav-item dropdown" sec:authorize="hasAuthority('MANAJER') || hasAuthority('PEKERJA') || hasAuthority('SUPERVISOR') || hasAuthority('TEKNISI') || hasAuthority('ADMIN')">
                <a th:class="${#strings.equals(activeLink, 'Laporan')}  ? 'nav-link nav-underline active dropdown-toggle' : 'nav-link dropdown-toggle'" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Laporan<span class="sr-only">(current)</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li sec:authorize="hasAuthority('MANAJER') || hasAuthority('PEKERJA') || hasAuthority('SUPERVISOR') || hasAuthority('TEKNISI') || hasAuthority('ADMIN')"><a class="dropdown-item" th:href="@{/warehouse/laporan}">Laporan Warehousing</a></li>
                    <li sec:authorize="hasAuthority('MANAJER') || hasAuthority('SUPERVISOR') || hasAuthority('ADMIN')"><a class="dropdown-item" th:href="@{/transaksi/viewall/semua}">Laporan Transaksi Keuangan</a></li>
                    <li sec:authorize="hasAuthority('MANAJER') || hasAuthority('SUPERVISOR') || hasAuthority('ADMIN') || hasAuthority('PEKERJA') || hasAuthority('TEKNISI')"><a class="dropdown-item" th:href="@{/pengolahan-sampah}">Pengolahan Sampah</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasAuthority('MANAJER') || hasAuthority('SUPERVISOR') || hasAuthority('ADMIN')">
                <a th:class="${#strings.equals(activeLink, 'Pembelian dan Penjualan')}  ? 'nav-link nav-underline active dropdown-toggle' : 'nav-link dropdown-toggle'" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Pembelian dan Penjualan<span class="sr-only">(current)</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li sec:authorize="hasAuthority('MANAJER') || hasAuthority('SUPERVISOR') || hasAuthority('ADMIN')"><a class="dropdown-item" th:href="@{/penawaran/sampah/viewall}">Pembelian Sampah</a></li>
                    <li sec:authorize="hasAuthority('MANAJER') || hasAuthority('SUPERVISOR') || hasAuthority('ADMIN')"><a class="dropdown-item" th:href="@{/penawaran-hasil-olahan/viewall/-1}">Penjualan Hasil Olahan</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasAuthority('MANAJER') || hasAuthority('SUPERVISOR') || hasAuthority('ADMIN')">
                <a th:class="${#strings.equals(activeLink, 'Donasi')}  ? 'nav-link nav-underline active dropdown-toggle' : 'nav-link dropdown-toggle'" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Donasi<span th:if="${#strings.equals(activeLink, 'Donasi')}" class="sr-only">(current)</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li sec:authorize="hasAuthority('MANAJER') || hasAuthority('SUPERVISOR') || hasAuthority('ADMIN')"><a class="dropdown-item" th:href="@{/donasi/viewall}">Daftar Donasi Sampah</a></li>
                    <li sec:authorize="hasAuthority('MANAJER') || hasAuthority('SUPERVISOR') || hasAuthority('ADMIN')"><a class="dropdown-item" th:href="@{/donasi/penukaran-poin}">Penukaran Poin</a></li>
                    <li sec:authorize="hasAuthority('MANAJER') || hasAuthority('SUPERVISOR') || hasAuthority('ADMIN')"><a class="dropdown-item" th:href="@{/reward/viewall}">Reward</a></li>
                </ul>
            </li>
            <li sec:authorize="hasAuthority('MANAJER') || hasAuthority('ADMIN')">
                <a th:class="${#strings.equals(activeLink, 'Manajemen User')}  ? 'nav-link nav-underline active' : 'nav-link'" th:href="@{/manajemen-user/viewall}">Manajemen User<span class="sr-only">(current)</span></a>
            </li>

            <!--eksternal-->
            <li sec:authorize="hasAuthority('DONATUR')">
                <a th:class="${#strings.equals(activeLink, 'Buat Donasi')}  ? 'nav-link nav-underline active' : 'nav-link'" th:href="@{/donasi/add}">Buat Donasi<span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="hasAuthority('DONATUR')">
                <a th:class="${#strings.equals(activeLink, 'Riwayat Donasi')}  ? 'nav-link nav-underline active' : 'nav-link'" th:href="@{/donasi/viewall}">Riwayat Donasi<span class="sr-only">(current)</span></a>
            </li>

            <li sec:authorize="hasAuthority('DONATUR')">
                <a th:class="${#strings.equals(activeLink, 'Donasi')}  ? 'nav-link nav-underline active' : 'nav-link'"  th:href="@{/donasi/penukaran-poin}">Penukaran Poin</a>
            </li>
            <li sec:authorize="hasAuthority('PARTNER')">
                <a th:class="${#strings.equals(activeLink, 'Jual Sampah')}  ? 'nav-link nav-underline active' : 'nav-link'" th:href="@{/penawaran/sampah/add}">Jual Sampah<span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="hasAuthority('PARTNER')">
                <a th:class="${#strings.equals(activeLink, 'Riwayat Penjualan')}  ? 'nav-link nav-underline active' : 'nav-link'" th:href="@{/penawaran/sampah/viewall}">Riwayat Penjualan<span class="sr-only">(current)</span></a>
            </li>

            <li sec:authorize="hasAuthority('CUSTOMER')">
                <a th:class="${#strings.equals(activeLink, 'Beli Hasil Olahan')}  ? 'nav-link nav-underline active' : 'nav-link'" th:href="@{/penawaran-hasil-olahan/add}">Beli Hasil Olahan<span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="hasAuthority('CUSTOMER')">
                <a th:class="${#strings.equals(activeLink, 'Riwayat Pembelian')}  ? 'nav-link nav-underline active' : 'nav-link'" th:href="@{/penawaran-hasil-olahan/viewall/-1}">Riwayat Pembelian<span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <ul class="navbar-nav mr-sm-2">
            <a th:href="@{/}" class="btn btn-yellow-sun text-dark mx-2" sec:authorize="hasAuthority('DONATUR')" th:text="${poin} + ' Points'"><span class="px-2"></span></a>
            <a th:href="@{/login}" class="btn btn-primary-green mx-2" sec:authorize="isAnonymous()">Login</a>
            <div class="dropdown" sec:authorize="isAuthenticated()" th:with="result=${#authentication.getPrincipal().getUsername().toLowerCase().charAt(0)}">
                <button class="btn border-0 dropdown-toggle btn-sm d-flex gap-2 align-items-center justify-content-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="rounded-circle overflow-hidden">
                        <img th:src="${'/images/profile/' + result + '.jpg'}" alt="IMAGE" style="width: 30px; height: 30px;"/>
                    </div>
                </button>
                <ul class="dropdown-menu mt-3 rounded-25 shadow-sm dropdown-menu-end px-3 py-3" aria-labelledby="dropdownMenuButton1" style="width: 250px;">
                    <li>
                        <a th:href="@{/user/profile}">
                            <div class="col-12">
                                <div class="d-flex gap-2">
                                    <div class="overflow-hidden rounded-circle">
                                        <img th:src="${'/images/profile/' + result + '.jpg'}" alt="IMAGE" style="width: 30px; height: 30px;"/>
                                    </div>
                                    <div class="">
                                        <span class="text-dark" th:text="${#authentication.getPrincipal().getUsername()}"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="mt-4"><a th:href="@{/logout}" class="">
                        <div class="col-12">
                            <div class="d-flex gap-2">
                                <img src="/images/logout.png" alt="IMAGE" style="width: 30px; height: 30px;"/>
                                <div class="">
                                    <span class="text-dark">Log Out</span>
                                </div>
                            </div>
                        </div>
                    </a></li>
                </ul>
            </div>
        </ul>
    </div>
</nav>

<div th:fragment="footer" align="center" class = "py-4 container-primary-green mt-auto">
    <div class = "container">
        <div class="text-white text-center">
            <div>
                <h2 class="h3 p-2">CV Prisma Rizki Barokah</h2>
            </div>
            <div>
                <p class="p3">Kantor : Komp. Griya Serdang Indah Blok C9/7, Kramatwatu – Serang</p>
            </div>
            <div>
                <p class="p3">Pabrik : Kavling Cipete Permai Kav N28-29, Desa Sukalaksana – Curug, Kota Serang</p>
            </div>
            <div>
                <p><span class="bi-envelope px-2"></span>e-mail<span class="bi-telephone px-2"></span>telepon-number</p>
            </div>
            <div>
                <p><span class="bi-c-circle"></span>CV Prisma Rizki Barokah</p>
            </div>
        </div>
    </div>
</div>

<!-- https://www.c-sharpcorner.com/UploadFile/5089e0/how-to-get-current-user-details-in-javascript/ -->
<div sec:authorize="hasAuthority('DONATUR')">
    <script type="text/javascript">
        function showCustomer(str) {
            if (str == "") {
                document.getElementById("poin").innerHTML = "";
                return;
            }
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                document.getElementById("poin").innerHTML = this.responseText;
            }
        }
    </script>
<!--    <script type="text/javascript">-->
<!--        var poin-->
<!--        function UserInfo(data)-->
<!--        {-->
<!--            poin = data.poin;-->
<!--        }-->
<!--        $(function ()-->
<!--        {-->
<!--            UserInfoDetail();-->
<!--        })-->
<!--        function UserInfoDetail() {-->
<!--            document.getElementById('poin').innerHTML = poin;-->
<!--        }-->
<!--        println("INI POIN:"+poin);-->
<!--    </script>-->
<!--    <script type="text/javascript" src="http://smart-ip.net/geoip-json?callback=UserInfo"></script>-->
</div>
    <script src = "/bootstrap/js/bootstrap.js"></script>
    <script src="/script.js"></script>
</body>
</html>