<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head :: head" ></head>
<body>
<div th:fragment="empty-list()" class="navbar navbar-expand-lg navbar-light">
  <section id="empty-list-section" class="center">
    <div class="justify-content-center text-center m-5">
      <img class="empty-list-img" th:src = "@{/images/empty-list-img.png}">
      <br>
      <p1 class="empty-list-text my-5">DATA BELUM TERSEDIA</p1>
    </div>
  </section>
</div>
<div th:fragment="empty-list2(text)">
  <section id="empty-list2-section" class="center h-100">
    <div class="justify-content-center text-center m-4">
      <img class="empty-list-img" th:src = "@{/images/empty-list-img.png}">
      <br>
      <p1 class="empty-list-text my-5" th:text="${text}"></p1>
    </div>
  </section>
</div>
</body>
</html>