<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>

<body>
<nav th:replace="fragments/fragment :: navbar('Manajemen User', '')"></nav>

<div class="d-flex justify-content-center">
  <div class = "container my-5">

    <!-- alert -->
    <div class="alert alert-danger rounded-25" role="alert" th:text="${error}" th:if="${error}"></div>

    <!-- back button -->
    <div class="row my-3">
      <p class="c3">
        <a type="button" class="btn-small btn-outline-raisin-black h6 me-4" th:href="@{/manajemen-user/view/} + ${user.username}">
          <i class="bi-chevron-left"></i>
          Kembali
        </a>
        <text class="c3" th:text="${user.username}"></text>
      </p>
    </div>

    <!-- title -->
    <div class = "row mt-3 mb-4">
        <h2 class = "h2 text-raisin-black">Update Informasi Karyawan</h2>
    </div>

    <!-- form -->
    <form th:action="@{/manajemen-user/update}" th:object="${user}" class="needs-validation" novalidate  method="POST">
      <input type="hidden" th:field="*{username}"/>
      <input type="hidden" th:field="*{password}"/>
      <div class="container my-2">
        <div class = "card rounded-25">
          <div class="card-body">
            <div class="row">
              <div class="col px-5">
                <div class="row gy-4 my-2">
                  <div class="form-group">
                    <label class="h5 text-raisin-black">Username</label>
                    <input required type="text" class="form-control p2 text-grey-white" th:field="*{username}" disabled>
                  </div>

                  <div class="form-group">
                    <label class="h5 text-raisin-black">Nama Lengkap<span class="text-danger"> *</span></label>
                    <input required type="text" class="form-control p2 has-validation" th:field="*{nama}">
                    <div class="invalid-feedback">
                      Masukkan nama lengkap
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="h5 text-raisin-black">Email</label>
                    <input type="text" class="form-control p2 has-validation" th:field="*{email}">
                    <div class="invalid-feedback">
                      Email harus diisi
                    </div>
  <!--                  <div th:if="${email_constraint}" class="text-danger">-->
  <!--                    Email sudah didaftarkan-->
  <!--                  </div>-->
                  </div>

                  <div class="form-group">
                    <label class="h5 text-raisin-black">Nomor Telepon</label>
                    <input type="number" class="form-control p2 has-validation" th:field="*{hp}">
                    <div class="invalid-feedback">
                      Nomor telepon harus diisi
                    </div>
                    <!--                  <div th:if="${email_constraint}" class="text-danger">-->
                    <!--                    Email sudah didaftarkan-->
                    <!--                  </div>-->
                  </div>
                </div>
              </div>
              <div class="col px-5">
                <div class="row gy-4 my-2">
                  <div class="row my-4">
                    <label class="h5 text-raisin-black">Posisi<span class="text-danger"> *</span></label>
                    <div class="form-group" >
                      <div class="form-check">
                        <input required class="form-check-input" th:field="*{role}" type="radio" name="role" id="MANAJER" value="MANAJER" th:checked="${user.role.toString  == 'MANAJER'}">
                        <label class="form-check-label" for="MANAJER">Manajer</label>
                      </div>
                      <div class="form-check">
                        <input required class="form-check-input" th:field="*{role}" type="radio" name="role" id="SUPERVISOR" value="SUPERVISOR" th:checked="${user.role.toString  == 'SUPERVISOR'}">
                        <label class="form-check-label" for="SUPERVISOR">Supervisor</label>
                      </div>
                      <div class="form-check" th:field="*{role}">
                        <input required class="form-check-input" th:field="*{role}" type="radio" name="role" id="PEKERJA" value="PEKERJA" th:checked="${user.role.toString  == 'PEKERJA'}">
                        <label class="form-check-label" for="PEKERJA">Pekerja</label>
                      </div>
                      <div class="form-check" th:field="*{role}">
                        <input required class="form-check-input" th:field="*{role}" type="radio" name="role" id="TEKNISI" value="TEKNISI" th:checked="${user.role.toString  == 'TEKNISI'}">
                        <label class="form-check-label" for="TEKNISI">Teknisi</label>
                      </div>
                    </div>
                    <div class="invalid-feedback">
                      Pilih salah satu posisi
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- button -->
            <div class="row flex-row-reverse text-end">
            <div class="col-4">

              <!-- Button trigger modal -->
              <a type="button" class="mx-2 btn-small btn-primary-green" data-bs-toggle="modal" data-bs-target="#savechanges">
                Simpan
              </a>

              <!-- Modal -->
              <div class="modal fade" id="savechanges" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered text-center justify-content-center">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title h6" id="exampleModalLabel">Simpan Perubahan</h6>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p3">
                      Apakah Anda yakin ingin menyimpan perubahan?
                    </div>
                    <div class="modal-footer justify-content-center">
                      <button type="button" class="btn-small btn-outline-raisin-black" data-bs-dismiss="modal">Batal</button>
                      <button type="submit" id="submitbutton" class="btn-small btn-primary-green">Ya, simpan</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end modal -->

            </div>
          </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>

<script src = "/bootstrap/js/bootstrap.js"></script>
<script src="/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
            .forEach(function (form) {
              form.addEventListener('submit', function (event) {

                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                  $("#savechanges").modal("hide")
                }
                form.classList.add('was-validated')
              }, false)
            })
  })()
</script>


</body>
</html>