<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>

<body>

<nav th:replace="fragments/fragment :: navbar('', '')"></nav>

<div class="d-flex justify-content-center">
  <div class="m-4">
    <br>
    <div class="d-flex justify-content-center">
      <h2 style="font-weight: bold; font-size: 30px">Failed To Confirm!</h2>
    </div>
    <div class="d-flex justify-content-center">
      <p> Maaf, Anda gagal dalam melakukan konfirmasi. Coba lagi!</p>
    </div>
    <div class="my-3 d-flex justify-content-center">
      <a class="mx-2 btn"  th:href="@{/home}">Kembali ke Home</a>
    </div>
  </div>
</div>
</div>

<script src = "/bootstrap/js/bootstrap.js"></script>
<script src="/script.js"></script>

</body>
</html>