<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragment :: head"></head>

<body>
<main class="main">
    <!--==================== error ====================-->
    <section class="err">
        <div class="error__container container">
            <div class="error__data">
                <span class="h1">500 Internal Server Error</span>
                <h1 class="h-error">Oops, sorry!</h1>
                <p class="p1">
                    Something went wrong<br>We are working on fixing the problem
                </p>
                <a class="btn-outline-raisin-black btn" th:href="@{/}" >
                    Kembali ke Beranda
                </a>
            </div>

            <div class="error__img">
                <img th:src="@{/images/ghost-error-img.png}" alt="">
                <div class="error__shadow"></div>
            </div>

        </div>

        <!--        <footer th:replace="fragments/fragment :: footer"></footer>-->
    </section>
</main>

<!--=============== SCROLLREVEAL ===============-->
<script th:src="@{/js/scrollreveal.min.js}"></script>

<!--=============== MAIN JS ===============-->
<script th:src="@{/js/main.js}"></script>
<script src="/script.js"></script>
<script src = "/bootstrap/js/bootstrap.js"></script>

</body>

</html>