<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragment :: head"></head>

<body>
<nav sec:authorize="!hasAuthority('DONATUR')" th:replace="fragments/fragment :: navbar('Home', '')"></nav>
<nav sec:authorize="hasAuthority('DONATUR')" th:replace="fragments/fragment :: navbar('Home', ${poin})"></nav>

<section id="sec-welcome">
    <div class = "row pt-5 pb-2">
        <div class = "col-lg-6 p-5">
            <img src = "images/section-2-bg.jpg" class = "img-fluid rounded-3">
        </div>
        <div class = "col-lg-6 p-5 text-center text-lg-start align-middle">
            <h1 class = "h2 mt-5">Selamat Datang,</h1>
            <h1 class = "h1 username-welcome-text">Le Sserafim!</h1>
            <p class = "p2 my-4 lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempora possimus quam aperiam hic. Consequatur eum atque molestias exercitationem quos!</p>
        </div>
    </div>
</section>

<section id="sec-tentang-kami" class = "p-5 text-white container-primary-green">
    <div class = "row mx-4 my-3">
        <div class = "col">
            <h1 class = "h1">Tentang Kami</h1>
        </div>
    </div>
    <div class = "row">
        <div class = "col-lg-6 p-5">
            <img src = "images/section-2-bg.jpg" class = "img-fluid rounded-3">
        </div>
        <div class = "col-lg-6 p-5 text-white text-center text-lg-start">
            <p class = "p2 my-5 lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempora possimus quam aperiam hic. Consequatur eum atque molestias exercitationem quos!</p>
            <button type = "button" class = "btn btn-about-us h5 text-white mt-4"><span class="bi-arrow-right"></span> Baca lebih lanjut</button>
        </div>
    </div>
</section>

<section id = "sec-what-we-offer" class = "py-5">
    <div class = "container my-4">
        <div class = "row mb-5">
            <div class = "col text-center">
                <h1 class = "mb-4 h1">Apa yang kami tawarkan?</h1>
                <p class = "pt-2 w-75 mx-auto p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, alias a natus deleniti neque ad cupiditate dicta explicabo nemo vel?</p>
            </div>
        </div>

        <div class = "row gx-md-5">
            <div class = "col-md-4 my-3">
                <div class = "card rounded-25 text-center">
                    <img class = "card-img-top rounded-top-25" src = "images/blog-1-img.jpg">
                    <div class = "card-body py-5">
                        <h3 class = "card-title h3">Donasi Sampah</h3>
                        <p class = "card-text py-3 p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero reprehenderit, enim iure debitis doloremque nulla perspiciatis natus impedit obcaecati molestias sunt voluptate sed ipsa?</p>
                    </div>
                </div>
            </div>

            <div class = "col-md-4 my-3">
                <div class = "card rounded-25 text-center">
                    <img class = "card-img-top rounded-top-25" src = "images/blog-2-img.jpg">
                    <div class = "card-body py-5">
                        <h3 class = "card-title h3">Penjualan Sampah</h3>
                        <p class = "card-text py-3 p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero reprehenderit, enim iure debitis doloremque nulla perspiciatis natus impedit obcaecati molestias sunt voluptate sed ipsa?</p>
                    </div>
                </div>
            </div>

            <div class = "col-md-4 my-3">
                <div class = "card rounded-25 text-center">
                    <img class = "card-img-top rounded-top-25" src = "images/blog-2-img.jpg">
                    <div class = "card-body py-5">
                        <h3 class = "card-title h3">Pembelian Hasil Olahan Sampah</h3>
                        <p class = "card-text py-3 p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero reprehenderit, enim iure debitis doloremque nulla perspiciatis natus impedit obcaecati molestias sunt voluptate sed ipsa?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id = "sec-testimoni" class = "py-5 container-primary-green text-white">
    <div class = "container my-5">

        <div class = "row">
            <div class = "col-12 text-center">
                <h3 class = "mb-5 h1">Testimoni</h3>
            </div>
        </div>

        <div class = "row">
            <div id = "carouselInd" class = "carousel slide" data-bs-ride = "carousel">
                <div class = "carousel-indicators">
                    <button type = "button" data-bs-target = "#carouselInd" data-bs-slide-to = "0" class = "active bg-white"></button>
                    <button type = "button" data-bs-target = "#carouselInd" data-bs-slide-to = "1" class = "bg-white"></button>
                    <button type = "button" data-bs-target = "#carouselInd" data-bs-slide-to = "2" class = "bg-white"></button>
                </div>

                <div class = "carousel-inner">
                    <div class = "carousel-item active">
                        <div class = "col-12 row mx-auto">
                            <div class = "row text-center text-lg-start">
                                <!--                                <img src = "images/tes-img-1.jpg" class = "col-lg-3 mx-auto rounded-circle">-->
                                <!--                                <div class = "py-4 col-lg-9">-->
                                <p class = "p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente exercitationem natus, fugit fuga ducimus nihil? Corporis, voluptatibus repudiandae. At rem consectetur, nemo nisi aperiam iusto!</p>
                                <h5 class = "h5 text-lg-end">-Christine Walter, LA</h5>
                                <p class = "p2 text-lg-end">Lorem ipsum</p>
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>

                    <div class = "carousel-item">
                        <div class = "col-12 row mx-auto">
                            <div class = "row text-center text-lg-start">
                                <!--                                <img src = "images/tes-img-2.jpg" class = "col-lg-3 mx-auto rounded-circle">-->
                                <!--                                <div class = "py-4 col-lg-9">-->
                                <p class = "p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente exercitationem natus, fugit fuga ducimus nihil? Corporis, voluptatibus repudiandae. At rem consectetur, nemo nisi aperiam iusto!</p>
                                <h5 class = "h5 text-lg-end">-Christine Walter, LA</h5>
                                <p class = "p2 text-lg-end">Lorem ipsum</p>
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>

                    <div class = "carousel-item">
                        <div class = "col-12 row mx-auto">
                            <div class = "row text-center text-lg-start">
                                <!--                                <img src = "images/tes-img-3.jpg" class = "col-lg-3 mx-auto rounded-circle">-->
                                <!--                                <div class = "py-4 col-lg-9">-->
                                <p class = "p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente exercitationem natus, fugit fuga ducimus nihil? Corporis, voluptatibus repudiandae. At rem consectetur, nemo nisi aperiam iusto!</p>
                                <h5 class = "h5 text-lg-end">-Christine Walter, LA</h5>
                                <p class = "p2 text-lg-end">Lorem ipsum</p>
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id = "sec-artikel" class = "py-5">
    <div class = "container my-2">
        <div class = "row">
            <div class = "col">
                <h1 class = "h1">Artikel</h1>
            </div>
        </div>

        <div class = "row gx-md-5">
            <div class = "col-md-6 my-3">
                <div class = "card rounded-25 text-center">
                    <img class = "card-img-top rounded-top-25" src = "images/blog-1-img.jpg">
                    <div class = "card-body py-5">
                        <h3 class = "card-title h3">Donasi Sampah</h3>
                        <p class = "card-text py-3 p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero reprehenderit, enim iure debitis doloremque nulla perspiciatis natus impedit obcaecati molestias sunt voluptate sed ipsa?</p>
                        <button type = "button" class = "btn btn-primary-green h5 mt-4"><span class="bi-arrow-right"></span> Baca lebih lanjut</button>
                    </div>
                </div>
            </div>

            <div class = "col-md-6 my-3">
                <div class = "card rounded-25 text-center">
                    <img class = "card-img-top rounded-top-25" src = "images/blog-2-img.jpg">
                    <div class = "card-body py-5">
                        <h3 class = "card-title h3">Penjualan Sampah</h3>
                        <p class = "card-text py-3 p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero reprehenderit, enim iure debitis doloremque nulla perspiciatis natus impedit obcaecati molestias sunt voluptate sed ipsa?</p>
                        <button type = "button" class = "btn btn-primary-green h5 mt-4"><span class="bi-arrow-right"></span> Baca lebih lanjut</button>
                    </div>
                </div>
            </div>
        </div>

        <div class = "row gx-md-5">
            <div class = "col-md-6 my-3">
                <div class = "card rounded-25 text-center">
                    <img class = "card-img-top rounded-top-25" src = "images/blog-1-img.jpg">
                    <div class = "card-body py-5">
                        <h3 class = "card-title h3">Donasi Sampah</h3>
                        <p class = "card-text py-3 p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero reprehenderit, enim iure debitis doloremque nulla perspiciatis natus impedit obcaecati molestias sunt voluptate sed ipsa?</p>
                        <button type = "button" class = "btn btn-primary-green h5 mt-4"><span class="bi-arrow-right"></span> Baca lebih lanjut</button>
                    </div>
                </div>
            </div>

            <div class = "col-md-6 my-3">
                <div class = "card rounded-25 text-center">
                    <img class = "card-img-top rounded-top-25" src = "images/blog-2-img.jpg">
                    <div class = "card-body py-5">
                        <h3 class = "card-title h3">Penjualan Sampah</h3>
                        <p class = "card-text py-3 p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero reprehenderit, enim iure debitis doloremque nulla perspiciatis natus impedit obcaecati molestias sunt voluptate sed ipsa?</p>
                        <button type = "button" class = "btn btn-primary-green h5 mt-4"><span class="bi-arrow-right"></span> Baca lebih lanjut</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<footer th:replace="fragments/fragment :: footer"></footer>

<script src = "/bootstrap/js/bootstrap.js"></script>
<script src="/script.js"></script>

</body>
</html>