<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>

<body>

<nav th:replace="fragments/fragment :: navbar('', '')"></nav>

<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="images/login-img.jpg"
             alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
      <div class="col-sm-6 text-black align-middle">

        <div class="d-flex align-items-center text-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <form style="width: 40rem;" th:action="@{/login}" method="POST">

            <div th:if="${param.error}">
              <span style="color: red">Invalid username or password.</span>
            </div>

            <h3 class="h3 text-raisin-black mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

            <div class="text-left">
              <div class="form-outline mb-4">
                <label class="h5 text-raisin-black text-left" for="form2Example18">Username:</label>
                <input type="text" id="form2Example18" class="form-control form-control-lg" name="username"/>
              </div>
            </div>

            <div class="text-left">
              <div class="form-outline mb-4">
                <label class="h5 text-raisin-black text-left" for="form2Example28">Password:</label>
                <input type="password" id="form2Example28" class="form-control form-control-lg" name="password"/>
              </div>
            </div>

            <div class="pt-1 mb-4">
              <button class="btn btn-primary-green mx-2" th:href="@{/}" type="submit">Sign In</button>
            </div>

            <p3 class="p3">Belum memiliki akun? <a class="link-primary p3 fw-bold" th:href="@{/register}">Sign Up</a></p3>

          </form>

        </div>

      </div>
    </div>
  </div>
</section>

<script src = "/bootstrap/js/bootstrap.js"></script>
<script src="/script.js"></script>

</body>
</html>