<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragment :: head"></head>

<body>

<nav sec:authorize="hasAuthority('DONATUR')" th:replace="fragments/fragment :: navbar('', ${poin})"></nav>
<nav sec:authorize="!hasAuthority('DONATUR') || !isAuthenticated()" th:replace="fragments/fragment :: navbar('', '')"></nav>

<div class="container">
    <div class="col-12 mt-5">
        <h1 class="text-center text-head-profile">Edit Profil</h1>
    </div>

    <div class="card m-5 py-5 px-5 rounded-25">
        <form method="post" th:action="@{/user/profile/edit}">
            <div class="d-flex flex-md-row flex-column justify-content-between">
                <div class="col-12 col-md-5">
                    <div class="form-group">
                        <label for="username" class="h5">Username</label>
                        <input name="username" th:value="${auth.username}" id="username" class="form-control p2 disabled" disabled required/>
                    </div>

                    <div class="form-group mt-3">
                        <label for="fname" class="h5">Nama <span class="text-danger">*</span><span class="text-danger">*</span></label>
                        <input name="fname" th:value="${auth.nama}" id="fname" class="form-control p2" required />
                        <small id="fnamehelp" class="form-text text-muted">Isi dengan nama perusahaan atau dengan nama individu</small>
                    </div>

                    <div class="form-group  mt-3">
                        <label for="email" class="h5">Email <span class="text-danger">*</span></label>
                        <input name="email" th:value="${auth.email}" id="email" type="email" class="form-control p2" required />
                    </div>

                    <div th:if="${pic}" class="form-group  mt-3">
                        <label for="namaPic" class="h5">Nama PIC <span class="text-danger">*</span></label>
                        <input name="namaPic" th:value="${added.namaPic}" id="namaPic" class="form-control p2" required />
                        <small id="namaPicHelp" class="form-text text-muted">Isi dengan nama penanggung jawab di perusahaan Anda atau dengan nama Anda sendiri</small>
                    </div>

                </div>

                <div class="col-12 col-md-5">
                    <div th:if="${added}" class="form-group">
                        <label for="alamat" class="h5">Alamat <span class="text-danger">*</span></label>
                        <textarea type="text" name="alamat"
                                  th:value="${added.alamat}"
                                  th:field="*{added.alamat}"
                                  id="alamat" class="form-control p2"
                                  required />
                        <small id="alamathelp" class="form-text text-muted">Isi dengan nama jalan, RT, RW, nomor, kelurahan, kecamatan, kota, provinsi, dan kode pos</small>
                    </div>
                </div>
            </div>

            <!-- submit button -->
            <div class="row d-flex justify-content-end text-end">
                <div class="col-sm-1 w-auto justify-content-end px-0">
                    <!-- Button trigger modal save change -->
                    <a type="button" class="mx-2 btn-small btn-outline-red-danger" data-bs-toggle="modal" data-bs-target="#cancel">
                        Batal
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="cancel" tabindex="-1" aria-labelledby="discard-changes" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered text-center justify-content-center">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title h6" id="discard-changes">Batalkan Perubahan</h6>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body p3">
                                    Apakah Anda yakin ingin membatalkan perubahan ini?
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn-small btn-outline-raisin-black" data-bs-dismiss="modal">Tidak, lanjut edit</button>
                                    <a type="button" th:href="@{/user/profile}" class="btn-small btn-red-danger">Ya, batalkan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end modal -->

                </div>
                <div class="col-sm-1 w-auto justify-content-end pl-0">

                    <!-- Button trigger modal save changes -->
                    <a type="button" class="mx-2 btn-small btn-primary-green" data-bs-toggle="modal" data-bs-target="#save">
                        Save Changes
                    </a>

                    <!-- Modal save changes-->
                    <div class="modal fade" id="save" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered text-center justify-content-center">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title h6" id="save-changes">Edit Donasi</h6>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body p3">
                                    Apakah Anda yakin ingin menyimpan perubahan ini?
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn-small btn-outline-raisin-black" data-bs-dismiss="modal">Batal</button>
                                    <button type="submit" name="save" id="submitbutton" class="btn-small btn-primary-green">Ya, simpan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end modal save changes-->

                </div>
            </div>
<!--            <div class="col-12 mt-2 d-flex justify-content-center">-->

<!--                &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--                <button type="button" class="btn btn-outline-raisin-black" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--                    Cancel-->
<!--                </button>-->

<!--                &lt;!&ndash; Modal &ndash;&gt;-->
<!--                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                    <div class="modal-dialog">-->
<!--                        <div class="modal-content">-->
<!--                            <div class="modal-header">-->
<!--                                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Cancel</h5>-->
<!--                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                            </div>-->
<!--                            <div class="modal-body">-->
<!--                                Apakah anda yakin ingin membuang perubahan ?-->
<!--                            </div>-->
<!--                            <div class="modal-footer">-->
<!--                                <button type="button" class="btn btn-outline-raisin-black" data-bs-dismiss="modal">Tidak</button>-->
<!--                                <a class="btn btn-primary-green text-white" th:href="@{/user/profile}">Ya</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <button type="submit" class="btn btn-primary-green px-3 py-2">Save Changes</button>-->
<!--            </div>-->
        </form>
    </div>
</div>

<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/script.js"></script>

</body>
</html>
