<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragment :: head"></head>

<body>

<nav sec:authorize="hasAuthority('DONATUR')" th:replace="fragments/fragment :: navbar('', ${poin})"></nav>
<nav sec:authorize="!hasAuthority('DONATUR') || !isAuthenticated()" th:replace="fragments/fragment :: navbar('', '')"></nav>

<div class="container">
    <div class="col-12 mt-5">
        <h1 class="text-center text-head-profile">Profil Saya</h1>
    </div>

    <div class="card m-5 py-5 px-5 rounded-25">
        <div class="d-flex flex-md-row flex-column gap-2">
            <div class="col-md-3 col-12 col-sm-5">
                <div th:with="role=${#authentication.getPrincipal().getAuthorities().toString()}">
                    <div th:if="${role.contains('MANAJER') || role.contains('PEKERJA') || role.contains('SUPERVISOR') || role.contains('TEKNISI') || role.contains('ADMIN')}">
                        <img class="col-12 rounded" th:src="${'/images/profile/internal.jpg'}" alt="PROFILE"/>
                    </div>
                    <div th:if="${role.contains('DONATUR')}">
                        <img class="col-12 rounded" th:src="${'/images/profile/donatur.jpg'}" alt="PROFILE"/>
                    </div>
                    <div th:if="${role.contains('PARTNER')}">
                        <img class="col-12 rounded" th:src="${'/images/profile/partner.jpg'}" alt="PROFILE"/>
                    </div>
                    <div th:if="${role.contains('CUSTOMER')}">
                        <img class="col-12 rounded" th:src="${'/images/profile/customer.jpg'}" alt="PROFILE"/>
                    </div>
                </div>
                <div class="col-12 mt-2 d-flex flex-column justify-content-center align-items-center gap-2">
                    <p2 class="p2 text-center" th:text="${auth.nama}"></p2>
                    <span class="text-black-50 fs-6 text-center" th:text="${'@' + auth.username}"></span>
                    <div th:if="${point != null}"
                         class="col-12 p-0 d-flex gap-2 justify-content-center align-items-center">
                        <img src="/images/p-icon.png" alt="P_IMAGE" style="width: 22px; height: 22px;"/>
                        <p2 class="p2" th:text="${poin}"></p2>
                    </div>
                    <a class="btn-small btn-primary-green"
                       th:href="@{/user/profile/edit}">Edit Profil</a>
                    <a class="btn-small btn-red-danger"
                       th:href="@{/logout}">Logout</a>
                </div>
            </div>
            <div class="col-md-9 col-12 col-sm-7 px-5 py-3">
                <div class="col-12">
                    <p2 class="p2">Nama</p2>
                    <h4 class="h4" th:text="${auth.nama}"></h4>
                </div>
                <div class="col-12 mt-3">
                    <p2 class="p2">Username</p2>
                    <h4 class=h4 th:text="${'@' + auth.username}"></h4>
                </div>
                <div class="col-12 mt-3">
                    <p2 class=p2>Email</p2>
                    <h4 class=h4 th:text="${auth.email == null} ? '-' : ${auth.email}"></h4>
                </div>
                <div class="col-12 mt-3">
                    <p2 class=p2>Nomor Telepon</p2>
                    <h4 class=h4 th:text="${auth.hp == null} ? '-' : ${auth.hp}"></h4>
                </div>

                <div th:if="${added}" class="col-12 mt-3">
                    <p2 class="p2">Alamat</p2>
                    <h4 class=h4>
                        <span th:text="${added.alamat}"/>
                    </h4>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/script.js"></script>

</body>
</html>
