<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragment :: head"></head>

<body>
<div sec:authorize="hasAuthority('DONATUR')">
  <nav th:replace="fragments/fragment :: navbar('Riwayat Donasi')"></nav>
</div>
<div sec:authorize="hasAuthority('ADMIN') || hasAuthority('MANAJER')">
  <nav th:replace="fragments/fragment :: navbar('Donasi')"></nav>
</div>

<div class="container mt-lg-5">
  <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
  <div class="card rounded-25 m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <br>

        <div class="row">
          <div class="col text-start">
            <h2 class="h2">Daftar Donasi</h2>
          </div>
          <div class="col text-end">
            <a button sec:authorize="hasAuthority('DONATUR')"
               type="button" class="btn-small btn-outline-primary-green h6"
               th:href="@{/donasi/add}">
              <span class="bi-plus"></span> Buat Donasi Baru
            </a>
            <!--          <button type = "button" class = "btn-small btn-primary-green h6 mt-4">-->
            <!--            Filter <span class="bi-filter-right"></span>-->
            <!--          </button>-->
          </div>
        </div>

        <!--section bar-->
        <div th:if="${fragmentStatus == null}">
          <nav th:replace="fragments/fragment-donasi :: navbar('Semua')"></nav>
        </div>
        <div th:if="${fragmentStatus == -1}">
          <nav th:replace="fragments/fragment-donasi :: navbar('Ditolak')"></nav>
        </div>
        <div th:if="${fragmentStatus == 0}" >
          <nav th:replace="fragments/fragment-donasi :: navbar('Menunggu Persetujuan')"></nav>
        </div>
        <div th:if="${fragmentStatus == 1}">
          <nav th:replace="fragments/fragment-donasi :: navbar('Disetujui')"></nav>
        </div>
        <div th:if="${fragmentStatus == 2}">
          <nav th:replace="fragments/fragment-donasi :: navbar('Dalam Perjalanan')"></nav>
        </div>
        <div th:if="${fragmentStatus == 3}">
          <nav th:replace="fragments/fragment-donasi :: navbar('Dalam Proses Inspeksi')"></nav>
        </div>
        <div th:if="${fragmentStatus == 4}">
          <nav th:replace="fragments/fragment-donasi :: navbar('Selesai')"></nav>
        </div>

        <!--list donasi-->
        <div class="section" id="listOfDonasi">
          <br>
          <div th:if="*{listDonasi.size()!=0}">
            <table class="table table-striped text-center align-middle">
              <thead>
              <tr>
                <th>No.</th>
                <th>ID Donasi</th>
                <th>Tanggal</th>
                <th>Status</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="donasi, iterationStatus : ${listDonasi}"
                  th:style="${iterationStatus.even} ? 'font-weight:bold;'"  align="center">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${donasi.idDonasi}"></td>
                <td th:text="${#temporals.format(donasi.tanggalDibuat, 'dd-MM-yyyy HH:mm')}"></td>
                <td>
                  <div th:if="${donasi.status == -1}"><span class="bi bi-file-earmark-x"></span> Donasi Ditolak</div>
                  <div th:if="${donasi.status == 0}"><span class="bi bi-hourglass-split"></span> Menunggu Persetujuan</div>
                  <div th:if="${donasi.status == 1}"><span class="bi bi-file-earmark-check"></span> Donasi Disetujui</div>
                  <div th:if="${donasi.status == 2}"><span class="bi bi-truck"></span> Dalam Perjalanan</div>
                  <div th:if="${donasi.status == 3}"><span class="bi bi-search"></span> Dalam Proses Inspeksi</div>
                  <div th:if="${donasi.status == 4}"><span class="bi bi-check-circle"></span> Selesai</div>
                </td>
                <td>
                  <a type="button" class="mx-2 btn-small btn-primary-green" th:href="@{/donasi/view/} + ${donasi.idDonasi}">Detail</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div th:unless="*{listDonasi.size()!=0}">
            <h4 class="h4 p-2 text-center">This list is empty</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer th:replace="fragments/fragment :: footer"></footer>

<script src = "/bootstrap/js/bootstrap.js"></script>
<script src="/script.js"></script>

</body>
</html>