<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragment :: head"></head>

<body>
<nav sec:authorize="hasAuthority('DONATUR')" th:replace="fragments/fragment :: navbar('Artikel', ${poin})"></nav>
<nav sec:authorize="!hasAuthority('DONATUR') || !isAuthenticated()" th:replace="fragments/fragment :: navbar('Artikel', '')"></nav>

<div class="container my-lg-5">
    <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
    <div class="alert alert-danger" role="alert" th:text="${failed}" th:if="${failed}"></div>

    <div class="row mt-3">
        <div class="col text-start">
            <h1 class="h1">Artikel</h1>
        </div>

        <div class="col text-end">
            <a sec:authorize="hasAuthority('SUPERVISOR') || hasAuthority('MANAJER') || hasAuthority('ADMIN')"
               class="btn-small btn-outline-primary-green"
               th:href="@{/artikel/add/}">
                <span class="bi bi-plus fs-6"></span>
                Tambah Artikel Baru
            </a>
        </div>
    </div>

    <!--list artikel-->
    <div class="section" id="listArtikel">
        <br>
        <div class="row" th:if="*{listArtikel.size()!=0}">
            <!--Card Artikel-->
            <div class="col-lg-4 mb-3 d-flex align-items-stretch" th:each="artikel, iterationStatus : ${listArtikel}">
                <div class="w-100 ">
                    <div class="card rounded-25 h-100 ">
                        <img class="card-img-top rounded-top-25" th:src="${artikel.imageArtikelPath}"
                             alt="Artikel Image">

                        <div class="card-body">
                            <div class="card-title h4" th:text="${artikel.title}">•</div>
                            <p class="card-text " th:utext="${artikel.subtitle}"></p>
                            <div class="p-date c3" th:text="${#temporals.format(artikel.createdAt, 'dd MMMM yyyy HH:mm', new java.util.Locale('id'))}"></div>
                        </div>
                        <div class="footer ui-corner-right d-flex justify-content-end mb-3 me-3">
                            <a type="button" class="m-2 btn-small btn-primary-green ml-auto"
                               th:href="@{/artikel/view/} + ${artikel.idArtikel}">Lihat Artikel</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div th:unless="*{listArtikel.size()!=0}">
            <h4 class="h4 p-2 text-center">Artikel Tidak Tersedia</h4>
        </div>

    </div>


</div>

<footer th:replace="fragments/fragment :: footer"></footer>

<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/script.js"></script>


</body>
</html>