<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Water</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Laporan Warehouse')"></nav>

<section id="title" class="p-5-title">
    <div class="p-5-title text-center text-lg-start align-middle">
        <h1 class="h1 mt-5">Warehouse</h1>
    </div>
    </div>
    <!--    <div class="alert alert-success m-2 p-1 text-center" role="alert" th:text="${success}" th:if="${success}"></div>-->
    <section class="viewall-wr">
        <div class="alert alert-success"  role="alert " th:if="${successUpdate}" >
            <h4 class="alert-heading">Berhasil!</h4>
            <p th:text="${successUpdate}"></p>
        </div>
        <div class="alert alert-success "  role="alert " th:if="${successAdd}">
            <h4 class="alert-heading">Berhasil!</h4>
            <p th:text="${successAdd}"></p>
        </div>
        <div class="alert alert-success"  role="alert " th:if="${successDelete}">
            <h4 class="alert-heading">Berhasil!</h4>
            <p th:text="${successDelete}"></p>
        </div>
        <div class="alert alert-danger"  role="alert " th:if="${failedDelete}">
            <h4 class="alert-heading">Gagal!</h4>
            <p th:text="${failedDelete}"></p>
        </div>
        <div class="alert alert-danger"  role="alert " th:if="${failedAdd}">
            <h4 class="alert-heading">Gagal!</h4>
            <p th:text="${failedAdd}"></p>
        </div>
        <div class="alert alert-danger"  role="alert " th:if="${failedUpdate}">
            <h4 class="alert-heading">Gagal!</h4>
            <p th:text="${failedUpdate}"></p>
        </div>
    </section>
</section>

<section id="viewall-warehouse" class="viewall-wr">
    <div class="row">
        <div class="col-6">

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Sampah</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Hasil Olahan Sampah</button>
                </div>
            </nav>
        </div>

        <!-- Section add Item-->
        <div class="col-6 ">
            <button sec:authorize="hasAuthority('SUPERVISOR') || hasAuthority('MANAJER')" class="btn btn-small btn-primary-green float-end float-md-end" data-bs-toggle="modal"
                    data-bs-target="#exampleModal3" th:href="@{/warehouse/addNew}">
                <span class="bi bi-plus fs-6"></span>
                Tambah Item Baru
            </button>

        </div>

        <!-- Modal ADD Item -->
        <div class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             id="exampleModal3" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body text-left m-1 p-5">
                        <div class="row">
                            <div class="col-1">
                                <button type="button" class="btn-close align-content-start"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="text-center h3 m-2 p-1 col-10">Tambah Item Baru</div>
                        </div>

                        <form class="m-1 p-2" th:action="@{/warehouse/add}"
                              th:object="${itemBaru}" method="POST">
                            <div class="row">
                                <div class="col-12">
                                    <label for="idJenis" class="h5 text-left">Jenis Item</label>
                                    <select class="form-select" name="jenisItem">
                                        <option id="idJenis" th:each="jenis, itr : ${listJenisItem}" th:value="${listJenisItem[__${itr.index}__].getIdJenis()}" th:text="${jenis.namaJenis}" th:name="|jenisItem|">
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <label for="namaItem" class="h5 text-left">Nama Item</label>
                                    <input required id="namaItem" class="form-control" type="text" th:value="${namaItem}" th:name="|namaItem|"/>

                                </div>
                                <div class="col-6">

                                    <label for="inputHargaBeli2" class="h5">Harga Beli Item</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                                                <span class="input-group-text"
                                                                      id="inputHargaBeliKet2">Rp</span>
                                        </div>
                                        <input required type="number" min="0" class="form-control"
                                               id="inputHargaBeli2"
                                               th:value="${hargaBeli}" th:name="|hargaBeli|">
                                    </div>
                                    <div id="inputHargaBeliKeterangan2" class="form-text">
                                        Masukan harga dalam Rupiah per Kilogram. Contoh : 15000
                                    </div>

                                </div>
                            </div>

                            <br>

                            <input class="form-control"   type="hidden" th:value="0" th:name="|kuantitasSampah|"/>
                            <input class="form-control" type="hidden" th:value="0"th:name="|kuantitasOlahan|"/>
                            <div class="m-2 p-2 text-center">
                                <button class="btn btn-small btn-primary-green " type="submit"
                                        name="save">Add Item
                                </button>
                            </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <!--Sampah Section-->
            <div class="card m-2" th:each="jenis, iterationStatus : ${listJenisItem}">
                <div class="card-body p-0">
                    <div class="row mx-0">
                        <div class="card-wr col-3 justify-content-center align-content-center">
                            <div class="text-center">
                                <div class="p-3 h4 text-white" th:text="${jenis.namaJenis}"></div>
                                <div th:unless="*{jenis.listNamaItem.size() == 0}">
                                    <span class="h6 text-white text-white" th:text="'Total: ' + ${#aggregates.sum(jenis.listNamaItem.![kuantitasSampah])} + ' Kg'"></span>
                                </div>
                                <div th:if="*{jenis.listNamaItem.size() == 0}">
                                    <span class="h6 text-white text-white" th:text="'Total: 0 Kg' "></span>
                                </div>

                            </div>
                        </div>
                        <div class="p-2 col-9 text-center align-content-lg-center center-block">
                            <div class="m-2 p-2" th:unless="*{jenis.listNamaItem.size() != 0}">
                                <h4 class="text-center h5 p-3 " th:text= "'Tidak ada item pada warehouse'"></h4>
                            </div>
                            <div th:unless="*{jenis.listNamaItem.size() == 0}">
                                <table class="table table-striped text-center align-items-center">
                                    <thead>
                                    <tr>
                                        <th>Nama Item</th>
                                        <th>Kuantitas (Kg)</th>
                                        <th>Harga Pembelian (/Kg)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item, itrStat : ${jenis.listNamaItem}">
                                        <td th:text="${item.namaItem}"></td>
                                        <td th:text="${item.kuantitasSampah}">
                                        <td th:text="Rp+ ${item.hargaBeli}">
                                        <td>
                                            <!-- Button trigger modal update Sampah-->
                                            <button sec:authorize="hasAuthority('SUPERVISOR') || hasAuthority('MANAJER')"  class="btn btn-small btn-primary-green" data-bs-toggle="modal"
                                                    data-bs-target="#updateSampah" th:attrappend="data-bs-target=${item.idItem}">
                                                Update
                                            </button>
                                        </td>

                                        <!-- Modal Update Sampah-->
                                        <div class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                             id="updateSampah" th:attrappend="id=${item.idItem}" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-body text-left m-1 p-5">
                                                        <div class="row">
                                                            <div class="col-1">
                                                                <button type="button" class="btn-close align-content-start"
                                                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="text-center h3 m-2 p-1 col-10">Update Item</div>
                                                        </div>

                                                        <form class="m-1 p-2" th:action="@{/warehouse/update}"
                                                              th:object="${jenis.listNamaItem[__${itrStat.index}__]}" method="POST">
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <label for="inputNama" class="h5 text-left">Nama Item</label>
                                                                    <input type="text" class="form-control" id="inputNama"
                                                                           placeholder="Nama Item"
                                                                           th:value="${jenis.listNamaItem[__${itrStat.index}__].getNamaItem()}"
                                                                           th:name="|namaItem|">
                                                                </div>
                                                                <div class="col-4">
                                                                    <label for="inputKuantitas" class="h5">Kuantitas Item</label>
                                                                    <div class="input-group">
                                                                        <input type="number" min="0" class="form-control"
                                                                               id="inputKuantitasKet"
                                                                               th:value="${jenis.listNamaItem[__${itrStat.index}__].getKuantitasSampah()}"
                                                                               th:name="|kuantitasSampah|">
                                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text"
                                                                      id="inputKuantitas">Kg</span>
                                                                        </div>
                                                                    </div>
                                                                    <div id="inputKuantitasKeterangan" class="form-text">
                                                                        Masukan kuantitas dengan satuan dalam Kg.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <label for="inputHargaBeli" class="h5">Harga Beli Item</label>
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text"
                                                                      id="inputHargaBeliKet">Rp</span>
                                                                        </div>
                                                                        <input type="number" min="0" class="form-control"
                                                                               id="inputHargaBeli"
                                                                               th:value="${jenis.listNamaItem[__${itrStat.index}__].getHargaBeli()}"
                                                                               th:name="|hargaBeli|">
                                                                    </div>
                                                                    <div id="inputHargaBeliKeterangan" class="form-text">
                                                                        Masukan harga dalam Rupiah per Kilogram. Contoh : 15000
                                                                    </div>
                                                                </div>
                                                                <div class="col-3">
                                                                    <label for="inputNama" class="h5">Jenis Item</label>
                                                                    <input type="text" class="form-control" id="jenisItem"
                                                                           th:value="${item.jenisItem.namaJenis}" readonly>
                                                                </div>
                                                            </div>
                                                            <input type="hidden"
                                                                   th:value="${jenis.listNamaItem[__${itrStat.index}__].getKuantitasOlahan()}"
                                                                   th:name="|kuantitasOlahan|">
                                                            <input type="hidden"
                                                                   th:value="${jenis.listNamaItem[__${itrStat.index}__].getHargaBeli()}"
                                                                   th:name="|hargaBeli|">
                                                            <input type="hidden"
                                                                   th:value="${listJenisItem[__${iterationStatus.index}__].getIdJenis()}"
                                                                   th:name="|jenisItem|">
                                                            <input type="hidden" th:value="${item.idItem}"
                                                                   th:name="|idItem|">

                                                            <div class="m-2 p-2 text-center">
                                                                <button class="btn btn-small btn-primary-green " type="submit"
                                                                        name="save">Save changes
                                                                </button>
                                                            </div>

                                                        </form>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <td>
                                            <!-- Button trigger modal delete Sampah-->
                                            <div th:if="*{item.kuantitasSampah == 0} AND *{item.kuantitasOlahan == 0}">
                                                <button sec:authorize="hasAuthority('SUPERVISOR') || hasAuthority('MANAJER')" class="btn btn-small btn-red-danger" data-bs-toggle="modal"
                                                        data-bs-target="#deleteModal" th:attrappend="data-bs-target=${item.idItem}">
                                                    Delete
                                                </button>
                                            </div>
                                            <div th:unless="*{item.kuantitasSampah == 0} AND *{item.kuantitasOlahan == 0}">
                                                <button sec:authorize="hasAuthority('SUPERVISOR') || hasAuthority('MANAJER')" class="btn btn-small btn-red-danger" data-bs-toggle="modal"
                                                        data-bs-target="#deleteModal" th:attrappend="data-bs-target=${item.idItem}" disabled>
                                                    Delete
                                                </button>
                                            </div>
                                        </td>

                                        <!-- Modal Delete Item-->
                                        <div class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                             id="deleteModal" th:attrappend="id=${item.idItem}" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-body text-left m-1 p-5">
                                                        <div class="row">
                                                            <div class="col-1">
                                                                <button type="button" class="btn-close align-content-start"
                                                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="text-center h3 m-2 p-1 col-10">Delete Item</div>
                                                        </div>
                                                        <br><br>

                                                        <div class="row">
                                                            <p class="p2 text-center" >
                                                                Anda hendak menghapus item
                                                                <strong th:text="${item.namaItem}" />
                                                                dari data warehouse. Setelah Anda klik Hapus, Anda tidak dapat membatalkan tindakan ini.
                                                            </p>
                                                            <br>
                                                            <div class="p2 text-center"> Apakah Anda ingin menghapus item ini?</div>
                                                        </div>

                                                        <form class="m-1 p-2" th:action="@{/warehouse/delete}"
                                                              th:object="${jenis.listNamaItem[__${itrStat.index}__]}" method="POST">
                                                            <input type="hidden" th:value="${item.idItem}"
                                                                   th:name="|idItem|">
                                                            <input type="hidden" th:value="${item.namaItem}"
                                                                   th:name="|namaItem|">
                                                            <input type="hidden" th:value="${item.kuantitasSampah}"
                                                                   th:name="|kuantitasSampah|">
                                                            <input type="hidden" th:value="${item.kuantitasOlahan}"
                                                                   th:name="|kuantitasOlahan|">

                                                            <div class="m-2 p-2 text-center">
                                                                <a class="btn btn-small btn-outline-cancel" data-bs-dismiss="modal">Cancel</a>
                                                                <button class="btn btn-small btn-red-danger " type="submit"
                                                                        name="save">Delete Item
                                                                </button>
                                                            </div>

                                                        </form>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

            <!--Hasil Olahan Sampah Section-->
            <div class="card m-2" th:each="jenis, iterationStatus : ${listJenisItem}">
                <div class="card-body p-0">
                    <div class="row mx-0">
                        <div class="card-wr col-3 justify-content-center align-content-center">
                            <div class="text-center">
                                <div class="p-3 h4 text-white" th:text="${jenis.namaJenis}"></div>
                                <div th:unless="*{jenis.listNamaItem.size() == 0}">
                                    <span class="h6 text-white text-white" th:text="'Total: ' + ${#aggregates.sum(jenis.listNamaItem.![kuantitasOlahan])} + ' Kg'"></span>
                                </div>
                                <div th:if="*{jenis.listNamaItem.size() == 0}">
                                    <span class="h6 text-white text-white" th:text="'Total: 0 Kg' "></span>
                                </div>
                            </div>
                        </div>
                        <div class="p-2 col-9 text-center align-content-lg-center center-block">
                            <div class="m-2 p-2" th:unless="*{jenis.listNamaItem.size() != 0}">
                                <h4 class="text-center h5 p-3 " th:text= "'Tidak ada item pada warehouse'"></h4>
                            </div>
                            <div th:unless="*{jenis.listNamaItem.size() == 0}">
                                <table class="table table-striped text-center align-items-center">
                                    <thead>
                                    <tr>
                                        <th>Nama Item</th>
                                        <th>Kuantitas (Kg)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item, itrStat : ${jenis.listNamaItem}">
                                        <td th:text="${item.namaItem}"></td>
                                        <td th:text="${item.kuantitasOlahan}">
                                        <td>
                                            <!-- Button trigger modal update Hasil Olahan Sampah -->
                                            <button sec:authorize="hasAuthority('SUPERVISOR') || hasAuthority('MANAJER')" class="btn btn-small btn-primary-green" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal2" th:attrappend="data-bs-target=${item.idItem}">
                                                Update
                                            </button>
                                        </td>

                                        <!-- Modal Update Hasil OLahan Sampah -->
                                        <div class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                             id="exampleModal2" th:attrappend="id=${item.idItem}" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-body text-left m-1 p-5">
                                                        <div class="row">
                                                            <div class="col-1">
                                                                <button type="button" class="btn-close align-content-start"
                                                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="text-center h3 m-2 p-1 col-10">Update Item</div>
                                                        </div>

                                                        <form class="m-1 p-2" th:action="@{/warehouse/update}"
                                                              th:object="${jenis.listNamaItem[__${itrStat.index}__]}" method="POST">
                                                            <div class="row">
                                                                <div class="col-5">
                                                                    <label for="inputNama" class="h5 text-left">Nama Item</label>
                                                                    <input type="text" class="form-control" id="inputNama2"
                                                                           placeholder="Nama Item"
                                                                           th:value="${jenis.listNamaItem[__${itrStat.index}__].getNamaItem()}"
                                                                           th:name="|namaItem|">
                                                                </div>
                                                                <div class="col-4">
                                                                    <label for="inputKuantitas" class="h5">Kuantitas Item</label>
                                                                    <div class="input-group">
                                                                        <input type="number" min="0" class="form-control"
                                                                               id="inputKuantitasKet2"
                                                                               th:value="${jenis.listNamaItem[__${itrStat.index}__].getKuantitasOlahan()}"
                                                                               th:name="|kuantitasOlahan|">
                                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text"
                                                                      id="inputKuantitas2">Kg</span>
                                                                        </div>
                                                                    </div>
                                                                    <div id="inputKuantitasKeterangan2" class="form-text">
                                                                        Masukan kuantitas dengan satuan dalam Kg.
                                                                    </div>
                                                                </div>
                                                                <div class="col-3">
                                                                    <label for="inputNama" class="h5">Jenis Item</label>
                                                                    <input type="text" class="form-control" id="jenisItem2"
                                                                           th:value="${item.jenisItem.namaJenis}" readonly>
                                                                </div>
                                                            </div>
                                                            <br>

                                                            <input type="hidden"
                                                                   th:value="${jenis.listNamaItem[__${itrStat.index}__].getHargaBeli()}"
                                                                   th:name="|hargaBeli|">
                                                            <input type="hidden"
                                                                   th:value="${jenis.listNamaItem[__${itrStat.index}__].getKuantitasSampah()}"
                                                                   th:name="|kuantitasSampah|">
                                                            <input type="hidden"
                                                                   th:value="${listJenisItem[__${iterationStatus.index}__].getIdJenis()}"
                                                                   th:name="|jenisItem|">
                                                            <input type="hidden" th:value="${item.idItem}"
                                                                   th:name="|idItem|">

                                                            <div class="m-2 p-2 text-center">
                                                                <button class="btn btn-small btn-primary-green " type="submit"
                                                                        name="save">Save changes
                                                                </button>
                                                            </div>

                                                        </form>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <td>
                                            <!-- Button trigger modal delete Hasil Olahan Sampah-->
                                            <div th:if="*{item.kuantitasSampah == 0} AND *{item.kuantitasOlahan == 0}">
                                                <button sec:authorize="hasAuthority('SUPERVISOR') || hasAuthority('MANAJER')"  class="btn btn-small btn-red-danger" data-bs-toggle="modal"
                                                        data-bs-target="#deleteModal2" th:attrappend="data-bs-target=${item.idItem}">
                                                    Delete
                                                </button>
                                            </div>
                                            <div th:unless="*{item.kuantitasSampah == 0} AND *{item.kuantitasOlahan == 0}">
                                                <button sec:authorize="hasAuthority('SUPERVISOR') || hasAuthority('MANAJER')" class="btn btn-small btn-red-danger" data-bs-toggle="modal"
                                                        data-bs-target="#deleteModal2" th:attrappend="data-bs-target=${item.idItem}" disabled>
                                                    Delete
                                                </button>
                                            </div>
                                        </td>

                                        <!-- Modal Delete Item-->
                                        <div class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                             id="deleteModal2" th:attrappend="id=${item.idItem}" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-body text-left m-1 p-5">
                                                        <div class="row">
                                                            <div class="col-1">
                                                                <button type="button" class="btn-close align-content-start"
                                                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="text-center h3 m-2 p-1 col-10">Delete Item</div>
                                                        </div>
                                                        <br><br>

                                                        <div class="row">
                                                            <p class="p2 text-center" >
                                                                Anda hendak menghapus item
                                                                <strong th:text="${item.namaItem}" />
                                                                dari data warehouse. Setelah Anda klik Hapus, Anda tidak dapat membatalkan tindakan ini.
                                                            </p>
                                                            <br>
                                                            <div class="p2 text-center"> Apakah Anda ingin menghapus item ini?</div>
                                                        </div>

                                                        <form class="m-1 p-2" th:action="@{/warehouse/delete}"
                                                              th:object="${jenis.listNamaItem[__${itrStat.index}__]}" method="POST">
                                                            <input type="hidden" th:value="${item.idItem}"
                                                                   th:name="|idItem|">
                                                            <input type="hidden" th:value="${item.namaItem}"
                                                                   th:name="|namaItem|">
                                                            <input type="hidden" th:value="${item.kuantitasSampah}"
                                                                   th:name="|kuantitasSampah|">
                                                            <input type="hidden" th:value="${item.kuantitasOlahan}"
                                                                   th:name="|kuantitasOlahan|">

                                                            <div class="m-2 p-2 text-center">
                                                                <a class="btn btn-small btn-outline-cancel" data-bs-dismiss="modal">Cancel</a>
                                                                <button class="btn btn-small btn-red-danger " type="submit"
                                                                        name="save">Delete Item
                                                                </button>
                                                            </div>

                                                        </form>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>


</section>
<footer th:replace="fragments/fragment :: footer"></footer>

<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/script.js"></script>
<script>
    var triggerTabList = [].slice.call(
        document.querySelectorAll(".nav-tabs>button")
    );
    triggerTabList.forEach(function (triggerEl) {
        var tabTrigger = new bootstrap.Tab(triggerEl);

        triggerEl.addEventListener("click", function (event) {
            document.querySelectorAll(".nav-tabs>button").forEach(
                (button) =>
                    (button.style.cssText = `
            background-color: #fff;
            color:  #217D00;
            transition: background-color .5s;
            `)
            );

            document.querySelectorAll(".nav-tabs>button.active").forEach(
                (button) =>
                    (button.style.cssText = `
          cursor: default;
          background-color: #fff;
          font-weight: bold;
          border: none;
          border-bottom: 3px solid #FFF623;
          color:  #217D00;
          transition: all .5s;`)
            );
        });
    });
</script>


</body>
</html>