<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>

<body>

<nav th:replace="fragments/fragment :: navbar('', '')"></nav>

<div class = "container justify-content-center my-5 py-3">
    <div class = "row">
        <div class = "col">
            <h1 class = "h2 text-center">Registrasi Sebagai</h1>
        </div>
    </div>

    <div class="row gx-md-5 my-3 py-3">
        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card rounded-25 text-center">
                <img src="images/img-donasi.jpg" class="card-img-top rounded-top-25"/>
                <div class="card-body d-flex flex-column py-4">
                    <h4 class="h4">Donatur</h4>
                    <p class="p3">
                        Sebagai donatur, Anda dapat mendonasikan sampah plastik
                        yang ada di rumah Anda dan mendapatkan poin sebagai imbalan
                        yang nantinya dapat ditukarkan menjadi uang ataupun barang.
                    </p>
                    <a type="button" class="mt-auto mx-2 btn btn-primary-green" th:href="@{/donatur/add}">Register as Donatur</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card rounded-25 text-center">
                <img src="images/img-handshake.jpg" class="card-img-top rounded-top-25"/>
                <div class="card-body d-flex flex-column py-4">
                    <h4 class="h4">Partner</h4>
                    <p class="p3">
                        Sebagai partner, Anda dapat menjalin kerjasama dengan kami
                        dan menjualkan sampah plastik Anda dengan harga yang
                        bersaing. Jadilah partner apabila Anda memiliki usaha
                        seperti pelapak sampah, bank sampah, dan lain-lain.
                    </p>
                    <a type="button" class="mt-auto mx-2 btn btn-primary-green" th:href="@{/partner/add}">Register as Partner</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card rounded-25 text-center">
                <img src="images/img-penjualan-hasil-olahan.jpg" class="card-img-top rounded-top-25"/>
                <div class="card-body d-flex flex-column py-4">
                    <h4 class="h4">Customer</h4>
                    <p class="p3">
                        Sebagai customer, Anda dapat membeli bulir hasil olahan
                        sampah plastik kami yang berkualitas tinggi dengan harga
                        bersaing.
                    </p>
                    <a type="button" class="mt-auto mx-2 btn btn-primary-green" th:href="@{/customer/add}">Register as Customer</a>
                </div>
            </div>
        </div>
    </div>

<!--        <div class = "row gx-md-5">-->
<!--            <div class = "col-md-4">-->
<!--                <div class = "card-registrasi text-center">-->
<!--                    <img class = "card-img-top" src = "images/blog-1-img.jpg">-->
<!--                    <div class = "card-body p-4">-->
<!--                        <h3 class = "card-title h4">Donatur</h3>-->
<!--                        <p class = "card-text p3 p-2">This role allows you to donate your plastic waste and get points in return that can be exchanged for money or goods</p>-->
<!--                        <a type = "button" class = "btn-small btn-primary-green h5" th:href="@{/donatur/add}">Register as Donatur</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class = "col-md-4">-->
<!--                <div class = "card-registrasi text-center">-->
<!--                    <img class = "card-img-top" src = "images/blog-2-img.jpg">-->
<!--                    <div class = "card-body p-4">-->
<!--                        <h3 class = "card-title h4">Customer</h3>-->
<!--                        <p class = "card-text p3 p-2">This role allows you to buy our high quality plastic pellets</p>-->
<!--                        <a type = "button" class = "btn-small btn-primary-green h5" th:href="@{/customer/add}">Register as Customer</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class = "col-md-4">-->
<!--                <div class = "card-registrasi text-center">-->
<!--                    <img class = "card-img-top" src = "images/blog-1-img.jpg">-->
<!--                    <div class = "card-body p-4">-->
<!--                        <h3 class = "card-title h4">Partner</h3>-->
<!--                        <p class = "card-text p3 p-2">This role allows you to be our partner and sell your plastic waste to us with a great price</p>-->
<!--                        <a type = "button" class = "btn-small btn-primary-green h5" th:href="@{/partner/add}">Register as Partner</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

    </div>
</div>

<footer th:replace="fragments/fragment :: footer"></footer>

<script src = "/bootstrap/js/bootstrap.js"></script>
<script src="/script.js"></script>

</body>
</html>